In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [39]:
inp=pd.read_csv('aapl.csv',index_col='Date',parse_dates=True)
inp
inp['2000-01-03']

              Open   High     Low   Close     Volume
Date
2000-01-03  104.88  112.5  101.69  111.94  133949200